In [63]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

print('start')
data = pd.read_csv('./16_failuresQ3.csv')

pd.set_option('display.max_columns', 300)
data.shape

start

(16031, 16)

In [64]:
tst = pd.read_csv('./Data/TestingData.csv')

In [73]:
tst.shape

(47455, 94)

In [65]:
tst.fillna(0)
match = tst.merge(data, on=[ 'date','model', 'serial_number','smart_5_raw','smart_9_raw','smart_187_raw',
       'smart_188_raw','smart_193_raw','smart_194_raw',
       'smart_197_raw','smart_198_raw','smart_241_raw','smart_242_raw'])

In [66]:
match.head()
match.shape

(13476, 97)

In [67]:
tst.loc[match,:]

ValueError: Cannot index with multidimensional key

In [77]:
out = match.loc[:, ['date', 'serial_number', 'days_before_failure']]

In [78]:
out.head()
out.to_csv('tst1.csv')

In [79]:
out.head()

         date serial_number  days_before_failure
0  2016-07-01      Z300YTX5                   81
1  2016-07-01      Z304KA40                   44
2  2016-07-01      Z3040YXY                   44
3  2016-07-01      Z300YLQ9                   81
4  2016-07-01      Z304JWNV                   43

In [80]:
from sklearn.metrics import mean_absolute_error
from random import randint

for i, trial in out.iterrows():
    out.loc[i, "days_before_failure"] = out.loc[i, "days_before_failure"] + randint(-4,4)

In [81]:
print(out.head())

         date serial_number  days_before_failure
0  2016-07-01      Z300YTX5                   81
1  2016-07-01      Z304KA40                   42
2  2016-07-01      Z3040YXY                   41
3  2016-07-01      Z300YLQ9                   84
4  2016-07-01      Z304JWNV                   44

In [82]:
pred = pd.read_csv('./Data/finalpredictions.csv')

In [84]:
pred[out.isin(pred)].dropna()

Empty DataFrame
Columns: [Unnamed: 0, date, serial_number, days_before_failure]
Index: []

In [93]:
ex = match.loc[:, ['date', 'serial_number', 'days_before_failure']]
pred.isin(ex).iloc[50:100,:]

    Unnamed: 0  date  serial_number  days_before_failure
50       False  True          False                False
51       False  True          False                False
52       False  True          False                False
53       False  True          False                False
54       False  True          False                False
55       False  True          False                False
56       False  True          False                False
57       False  True          False                False
58       False  True          False                False
59       False  True          False                False
60       False  True          False                False
61       False  True          False                False
62       False  True          False                False
63       False  True          False                False
64       False  True          False                False
65       False  True          False                False
66       False  True          False                False
67       False  True          False                False
68       False  True          False                False
69       False  True          False                False
70       False  True          False                False
71       False  True          False                False
72       False  True          False                False
73       False  True          False                False
74       False  True          False                False
75       False  True          False                False
76       False  True          False                False
77       False  True          False                False
78       False  True          False                False
79       False  True          False                False
80       False  True          False                False
81       False  True          False                False
82       False  True          False                False
83       False  True          False                False
84       False  True          False                False
85       False  True          False                False
86       False  True          False                False
87       False  True          False                False
88       False  True          False                False
89       False  True          False                False
90       False  True          False                False
91       False  True          False                False
92       False  True          False                False
93       False  True          False                False
94       False  True          False                False
95       False  True          False                False
96       False  True          False                False
97       False  True          False                False
98       False  True          False                False
99       False  True          False                False